# <span style="color:darkblue"> Lecture 16 - Practicing Chaining </span>

<font size = "5">

In this lecture you will get a chance to practice <br>
the main dataset operations

- There will be a quiz on this lecture

# <span style="color:darkblue"> I. Import Libraries and Data </span>

In [ ]:
import numpy as np
import pandas as pd

:

In [38]:
results  = pd.read_csv("data_raw/results.csv")
races    = pd.read_csv("data_raw/races.csv")
circuits = pd.read_csv("data_raw/circuits.csv")
results["points col"] = results["points"]

# <span style="color:darkblue"> II. Review Dataset Operations </span>

<font size = "5">

See attached file for a refresher on syntax

```[] ``` $\qquad \qquad \qquad \quad$: Extracting columns <br>
```.query() ``` $\qquad \qquad $: Subsetting rows <br>
```.recode() ``` $ \qquad \quad \ \ $: Replacing values <br>
```.groupby().agg() ```: Aggregate statistics by subgroup <br>
```.rename() ``` $\qquad \quad \ \ $: Change name of columns

Full list:

<font size = "4">

https://www.w3schools.com/python/pandas/pandas_ref_dataframe.asp

# <span style="color:darkblue"> III. Examples of Chaining </span>

<font size = "5">

The operations with "." are read left to right

- Combine any of the above operations
- Great way to make code efficient
- The sky's the limit!


Subsetting **before** extracting columns

In [3]:
# Get data for drivers that scored more than 20 points on individual races
# Then extract the columns "driverId" and "points"
results.query('points >= 20')[["driverId","points"]]

       driverId  points
20320         4    25.0
20344        18    25.0
20368        20    25.0
20392        18    25.0
20416        17    25.0
...         ...     ...
25740       830    25.0
25760       830    25.0
25780       830    25.0
25800       847    26.0
25820       830    25.0

[262 rows x 2 columns]

<font size = "5">

Subsetting **before** aggregating

In [4]:
# This obtains a subset of drivers who competed in races 500 onwards
# then computes the average by team ("constructorId")

(results.query('raceId >= 500')
        .groupby("constructorId")
        .agg(mean_points = ("points","mean")))

               mean_points
constructorId
1                 3.148148
3                 1.904924
4                 1.903226
5                 1.203911
6                 4.910966
...                    ...
209               0.012821
210               0.809028
211               3.723684
213               2.327869
214               3.693182

[176 rows x 1 columns]

<font size = "5">

Subsetting **after** aggregating

In [5]:
# This obtains the average points by team ("constructorId"), then 
# produces a subset of team whose average is higher than 10

(results.groupby("constructorId")
        .agg(mean_points = ("points","mean"))
        .query('mean_points >= 10'))

               mean_points
constructorId
131              12.363643

<font size = "5">

Chaining inside queries + NaNs

In [6]:
# "is.na()" produces a True/False vector, checking for missing values
# "is.notna()" produces a True/False vector, checking for non-missing values
# .str.isnumeric()
results["points"].isna()
results["points"].notna()

subset_nas    = results.query('points.isna()')
subset_nonnas = results.query('points.notna()')

## <span style="color:darkblue"> III. Quiz Structure </span>

<font size = "5">

The day of the quiz I will ...
- Provide a dataset with information
- Give more specific instructions.
- Below, you will see the type of questions that will be asked.
- The idea is for you to apply known concepts to new data
- You have 50 minutes to complete the assignment

Questions

(exact wording may change in quiz, but exercise will be very similar)


<font size = "5">

(a) Replace the values of a column

- Obtain unique string values of a column
- Use the ".replace()" command

Hint: See Lecture 13

In [18]:
subset      = races.query("name.str.isnumeric() == False")
list_unique = pd.unique(subset["name"])
print(list_unique)

['Australian Grand Prix' 'Malaysian Grand Prix' 'Chinese Grand Prix'
 'Bahrain Grand Prix' 'Spanish Grand Prix' 'Monaco Grand Prix'
 'Turkish Grand Prix' 'British Grand Prix' 'German Grand Prix'
 'Hungarian Grand Prix' 'European Grand Prix' 'Belgian Grand Prix'
 'Italian Grand Prix' 'Singapore Grand Prix' 'Japanese Grand Prix'
 'Brazilian Grand Prix' 'Abu Dhabi Grand Prix' 'Canadian Grand Prix'
 'French Grand Prix' 'United States Grand Prix' 'San Marino Grand Prix'
 'Austrian Grand Prix' 'Argentine Grand Prix' 'Luxembourg Grand Prix'
 'Portuguese Grand Prix' 'Pacific Grand Prix' 'South African Grand Prix'
 'Mexican Grand Prix' 'Korean Grand Prix' 'Detroit Grand Prix'
 'Dutch Grand Prix' 'Dallas Grand Prix' 'United States Grand Prix West'
 'Swiss Grand Prix' 'Caesars Palace Grand Prix' 'Swedish Grand Prix'
 'Indianapolis 500' 'Moroccan Grand Prix' 'Pescara Grand Prix'
 'Indian Grand Prix' 'Russian Grand Prix' 'Azerbaijan Grand Prix'
 'Styrian Grand Prix' '70th Anniversary Grand Prix' 'Tuscan Grand Prix'
 'Eifel Grand Prix' 'Emilia Romagna Grand Prix' 'Sakhir Grand Prix'
 'Qatar Grand Prix' 'Mexico City Grand Prix' 'São Paulo Grand Prix'
 'Saudi Arabian Grand Prix' 'Miami Grand Prix' 'Las Vegas Grand Prix']

<font size = "5">

(b) Recode a numeric column

- Use the "pd.cut()" command to create <br>
a new column based on an interval.
- See Lecture 14 for more details

In [19]:
subset1      = results.query("rank.str.isnumeric() == False")
list_unique1 = pd.unique(subset1["rank"])
print(list_unique1)

['\\N']

In [24]:
subset1      = results.query("rank.str.isnumeric() == False")
list_unique1 = pd.unique(subset1["rank"])
list_old = ['\\N']
list_new = [np.nan]
results["ranko"] = results["rank"].replace(list_old, list_new)


results["ranknum"] = pd.to_numeric(results["ranko"])

bins_x = [0,10, 1000]
labels_x = ["Top 10",
            "Not Top Ten"]

results["ranking"] = pd.cut(results["ranknum"],
                              bins = bins_x,
                              right = True,
                              labels = labels_x)

print(results.head())

# Note: if we set bins_x = [float("-inf"),2500, float("inf")]
#       then intervals are "Less than or equal to 2500" and "Above 2500"
#       float("inf") and float("-inf") represent infinity and negative infinity
#       The "right" command indicates that the right interval is
#       "less than or equal to" or just "less than"

   resultId  raceId  driverId  constructorId number  grid position  \
0         1      18         1              1     22     1        1
1         2      18         2              2      3     5        2
2         3      18         3              3      7     7        3
3         4      18         4              4      5    11        4
4         5      18         5              1     23     3        5

  positionText  positionOrder  points  ...  milliseconds fastestLap rank  \
0            1              1    10.0  ...       5690616         39    2
1            2              2     8.0  ...       5696094         41    3
2            3              3     6.0  ...       5698779         41    5
3            4              4     5.0  ...       5707797         58    7
4            5              5     4.0  ...       5708630         43    1

  fastestLapTime fastestLapSpeed statusId points col  ranko  ranknum ranking
0       1:27.452         218.300        1       10.0      2      2.0  Top 10
1       1:27.739         217.586        1        8.0      3      3.0  Top 10
2       1:28.090         216.719        1        6.0      5      5.0  Top 10
3       1:28.603         215.464        1        5.0      7      7.0  Top 10
4       1:27.418         218.385        1        4.0      1      1.0  Top 10

[5 rows x 22 columns]

<font size = "5">

(c) Aggregate and query

- Use a combniation of the following commands <br>
to produce a new dataset <br>
``` .query() ``` <br>
``` .groupby().agg() ``` <br>

In [27]:
teamrace_agg = (results.query("raceId >= 500")
                       .groupby(["raceId","constructorId"])
                        .agg(mean_points = ('points','mean'),
                             sd_points =   ('points','std'),
                             min_points =  ('points','min'),
                             max_points =  ('points','max'),
                             count_obs   = ('points',len)))

print(teamrace_agg)

                      mean_points  sd_points  min_points  max_points  \
raceId constructorId
500    1                      0.0   0.000000         0.0         0.0
       3                      1.0   1.414214         0.0         2.0
       4                      4.5   6.363961         0.0         9.0
       6                      0.0   0.000000         0.0         0.0
       21                     0.5   0.707107         0.0         1.0
...                           ...        ...         ...         ...
1096   117                    2.5   2.121320         1.0         4.0
       131                    5.0   7.071068         0.0        10.0
       210                    0.0   0.000000         0.0         0.0
       213                    0.0   0.000000         0.0         0.0
       214                    3.0   4.242641         0.0         6.0

                      count_obs
raceId constructorId
500    1                      2
       3                      2
       4                      2
       6                      2
       21                     2
...                         ...
1096   117                    2
       131                    2
       210                    2
       213                    2
       214                    2

[6055 rows x 5 columns]

<font size = "5">

(d) Aggregate and sort

- Use a combniation of the following commands <br>
to produce a new dataset <br>
``` .groupby().agg() ``` <br>
``` .sort_values() ```

In [28]:
constructor_agg = (results.groupby("constructorId")
                          .agg(mean_points = ("points","mean"))
                          .sort_values("mean_points",ascending = False))


constructor_agg

               mean_points
constructorId
131              12.363643
9                 9.117816
23                5.058824
208               4.584416
6                 4.317968
...                    ...
76                0.000000
77                0.000000
78                0.000000
130               0.000000
112               0.000000

[210 rows x 1 columns]

<font size = "5">

(e) Rename column

- Create a dictionary
- Rename one or more columns in a dataset <br>
using the dictionary

In [30]:
dict_rename_races = { "round": "round_number" }
races = races.rename(columns = dict_rename_races)
print(races.columns.values)

['raceId' 'year' 'round_number' 'circuitId' 'name' 'date' 'time' 'url'
 'fp1_date' 'fp1_time' 'fp2_date' 'fp2_time' 'fp3_date' 'fp3_time'
 'quali_date' 'quali_time' 'sprint_date' 'sprint_time']

<font size = "5">

(f) Merge dataset

- Use "pd.merge" to combine two datasets: <br>
a primary and secondary
- Only merge a subset of the columns of the <br>
secondary dataset
- Use "display" to show a the merged dataset,  <br>
extracting a subset of the columns

In [42]:
# The "pd.merge()" command combines the information from both datasets
# The first argument is the "primary" datasets
# The second argument is the "secondary" dataset (much include the "on" column)
# The "on" is the common variable that is used for merging
# how = "left" tells Python that the left dataset is the primary one

races_merge_pitfall = pd.merge(races,
                               circuits[["circuitId","name"]],
                               on = "circuitId",
                               how = "left")

print(races_merge_pitfall)

      raceId  year  round  circuitId                    name_x        date  \
0          1  2009      1          1     Australian Grand Prix  2009-03-29
1          2  2009      2          2      Malaysian Grand Prix  2009-04-05
2          3  2009      3         17        Chinese Grand Prix  2009-04-19
3          4  2009      4          3        Bahrain Grand Prix  2009-04-26
4          5  2009      5          4        Spanish Grand Prix  2009-05-10
...      ...   ...    ...        ...                       ...         ...
1097    1116  2023     19         69  United States Grand Prix  2023-10-22
1098    1117  2023     20         32    Mexico City Grand Prix  2023-10-29
1099    1118  2023     21         18      São Paulo Grand Prix  2023-11-05
1100    1119  2023     22         80      Las Vegas Grand Prix  2023-11-19
1101    1120  2023     23         24      Abu Dhabi Grand Prix  2023-11-26

          time                                                url    fp1_date  \
0     06:00:00  http://en.wikipedia.org/wiki/2009_Australian_G...          \N
1     09:00:00  http://en.wikipedia.org/wiki/2009_Malaysian_Gr...          \N
2     07:00:00  http://en.wikipedia.org/wiki/2009_Chinese_Gran...          \N
3     12:00:00  http://en.wikipedia.org/wiki/2009_Bahrain_Gran...          \N
4     12:00:00  http://en.wikipedia.org/wiki/2009_Spanish_Gran...          \N
...        ...                                                ...         ...
1097  19:00:00  https://en.wikipedia.org/wiki/2023_United_Stat...  2023-10-20
1098  20:00:00  https://en.wikipedia.org/wiki/2023_Mexico_City...  2023-10-27
1099  17:00:00  https://en.wikipedia.org/wiki/2023_S%C3%A3o_Pa...  2023-11-03
1100  06:00:00  https://en.wikipedia.org/wiki/2023_Las_Vegas_G...  2023-11-17
1101  13:00:00  https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...  2023-11-24

      fp1_time    fp2_date  fp2_time    fp3_date  fp3_time  quali_date  \
0           \N          \N        \N          \N        \N          \N
1           \N          \N        \N          \N        \N          \N
2           \N          \N        \N          \N        \N          \N
3           \N          \N        \N          \N        \N          \N
4           \N          \N        \N          \N        \N          \N
...        ...         ...       ...         ...       ...         ...
1097  17:30:00  2023-10-21  18:00:00          \N        \N  2023-10-20
1098  18:30:00  2023-10-27  22:00:00  2023-10-28  17:30:00  2023-10-28
1099  14:30:00  2023-11-04  14:30:00          \N        \N  2023-11-03
1100  04:30:00  2023-11-17  08:00:00  2023-11-18  04:30:00  2023-11-18
1101  09:30:00  2023-11-24  13:00:00  2023-11-25  10:30:00  2023-11-25

     quali_time sprint_date sprint_time                          name_y
0            \N          \N          \N  Albert Park Grand Prix Circuit
1            \N          \N          \N    Sepang International Circuit
2            \N          \N          \N  Shanghai International Circuit
3            \N          \N          \N   Bahrain International Circuit
4            \N          \N          \N  Circuit de Barcelona-Catalunya
...         ...         ...         ...                             ...
1097   21:00:00  2023-10-21    22:00:00         Circuit of the Americas
1098   21:00:00          \N          \N    Autódromo Hermanos Rodríguez
1099   18:00:00  2023-11-04    18:30:00      Autódromo José Carlos Pace
1100   08:00:00          \N          \N  Las Vegas Strip Street Circuit
1101   14:00:00          \N          \N              Yas Marina Circuit

[1102 rows x 19 columns]